:root {
    --main-background-color: #EFEBCE;
    --main-bar-color: #f08080
}

body {
    background-color: var(--main-background-color);
    font-family: monospace;
    text-align: center;
    margin: 0;
}

.topbar {
    background-color: var(--main-bar-color);
    padding: 20px 10px;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: inline-block;

}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.topbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;

}



.buttons a:hover {
    background-color: #ddd;
    color: black;
}

.buttons a:active {
    background-color: cornsilk;
    color: white;
}

ul {
    list-style-type: none;
}

.content {
    margin-top: 100px;
    text-align: left;
    padding-left: 20px;
    text-align: center;
    /* add space so content isn't hidden behind topbar */
}

table {
    margin: 0px auto;
}

h1,
h2 {
    font-size: 25px;
}

img {
    width: 500px;
    height: 400px;
}