:root {
    --main-background-color: #EFEBCE;
    --main-bar-color: #f08080
}

body {
    background-color: var(--main-background-color);
    font-family: monospace;
    text-align: center;
    margin: 0;
}



.topbar {
    background-color: var(--main-bar-color);
    padding: 20px 10px;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;

}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.topbar a {
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    display: inline-block;

}

.topbar .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}



.buttons a:hover {
    background-color: #ddd;
    color: black;
}

.buttons a:active {
    background-color: cornsilk;
    color: white;
}

ul {
    list-style-type: none;
}

.content {
    padding-left: 20px;
    text-align: center;
    padding-top: 120px;
}

table {
    margin: 0px auto;
}

h1,
h2 {
    font-size: 25px;
}

img {
    width: 500px;
    height: 400px;
}

@media (max-width: 768px) {
    .content {
        padding-top: 150px;
    }

    .topbar {
        padding: 30px 10px;

    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 500px;

    }

    table {
        width: 100%;
    }
}

@viewport {
    width: device-width;
}